@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

body,
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding-left: 0;
  list-style: none;
}

.transition {
  transition: 0.2s ease-out;
}

.foucus-0 {
  border: 0;
  &:focus {
    border: 0;
    box-shadow: 0 0 0 0;
  }
}

.navbar-toggler {
  border: 0;
  &:focus {
    border: 0;
    box-shadow: 0 0 0 0;
  }
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(41, 41, 41, 0.65);
  z-index: 90;
}

.bg-glass {
  backdrop-filter: blur(7px);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shadowBottom {
  box-shadow: 0 4px 5px -5px #6c757d;
}

:root {
  --animate-delay: 0.5s !important;
}

.text-row-1 {
  @include rowLimiter(1);
}

.text-row-2 {
  @include rowLimiter(2);
}
