.index {
  .intro {
    background-image: url('~@/assets/img/main_cover_black.jpg');
    @include bg-img(cover, center);
    @include media-breakpoint-down(md) {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
    }
    height: 100vh;
    max-width: 100%;
  }

  .slogan {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about {
    background-image: url('~@/assets/img/about_cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
  }

  .jobs {
    background-image: url('~@/assets/img/pattern.png');
    background-repeat: repeat;
    .container_foto {
      background-color: rgba(57, 62, 93, 0.7);
      padding: 0;
      overflow: hidden;
      position: relative;

      article {
        background-color: rgba(60, 60, 60, 0.6);
        padding: 7% 20px 5% 20px;
        position: absolute;
        bottom: 0;
        z-index: 1;
        transition: all 0.4s ease;
        opacity: 1;

        h6 {
          height: 40px;
        }
      }

      img {
        width: 100%;
        top: 0;
        left: 0;
        opacity: 1;
        transition: all 0.6s ease;
      }

      &:hover {
        img {
          opacity: 0.3;
          transform: scale(1.2);
        }

        article {
          background-color: transparent;
          transform: translate(0px, -45px);
        }

        .ver_mas {
          transform: translate(0px, 0px);
          opacity: 1;
        }
      }
    }

    .ver_mas {
      position: absolute;
      width: 100%;
      height: 45px;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      transform: translate(0px, 45px);
      transition: all 0.3s ease-in-out;

      span {
        position: relative;
        margin: 0 auto;
        width: 100%;
        top: 11px;
      }
    }
  }

  .benefits {
    background-image: url('~@/assets/img/benifits_cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .benifits-icon {
      max-width: 55px;
      max-height: 55px;
    }
  }

  .contact {
    textarea {
      min-height: 150px;
    }
  }

  #about-anchor, #jobs-anchor, #benefits-anchor, #contact-anchor {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
  }

  #information-anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
  }
}
